# 2016년
- https://programmers.co.kr/learn/courses/30/lessons/12901

In [ ]:
def solution(a, b):
    day = ["THU","FRI","SAT","SUN","MON","TUE","WED"] 
    mon = [31, 29, 31, 30, 31, 30 , 31, 31, 30, 31, 30, 31]
    return day[(sum(mon[:a-1]) + b) % 7]
  #더한게 필요할땐sum좀 쓰자

In [ ]:
import datetime

def getDayName(a,b):
    t = 'MON TUE WED THU FRI SAT SUN'.split()
    return t[datetime.datetime(2016, a, b).weekday()]
#datetime 함수 datetime(년,월,일)

# 최소직사각형
- https://programmers.co.kr/learn/courses/30/lessons/86491

In [ ]:
def solution(sizes):
    temp=[]
    col=0
    for i in range(len(sizes)):
        for j in range(2):
            col=max(sizes[i][j],col)
        temp.append(min(sizes[i]))    
    row=max(temp)
    answer=col*row
    return answer

In [ ]:
def solution(sizes):
    return max(max(x) for x in sizes) * max(min(x) for x in sizes)

#가장 큰 수와 가장 작은 수중 큰수를 곱하면

# 나머지가 1이 되는 수 찾기

- https://programmers.co.kr/learn/courses/30/lessons/87389

In [ ]:
def solution(n):
    for i in range(1,n):
        if n%i==1:
            answer=i
            return answer

In [ ]:
def solution(n):
    answer = min([x for x in range(1, n+1) if n % x == 1])
    return answer