<a href="https://colab.research.google.com/github/InKyuHwang001/Algorithm/blob/master/IS_NULL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 이름이 없는 동물의 아이디 (WHERE 콜럼 IS NULL)
- https://school.programmers.co.kr/learn/courses/30/lessons/59039

In [ ]:
SELECT ANIMAL_ID FROM ANIMAL_INS
WHERE NAME IS NULL

# 이름이 있는 동물의 아이디(IS NOT NULL)
- https://school.programmers.co.kr/learn/courses/30/lessons/59407

In [ ]:
SELECT ANIMAL_ID FROM ANIMAL_INS
WHERE NAME IS NOT NULL

# NULL 처리하기(IFNULL(콜럼, "나올 값") AS 콜럼)
- https://school.programmers.co.kr/learn/courses/30/lessons/59410

In [ ]:
SELECT ANIMAL_TYPE, IFNULL(NAME, "No name") AS NAME, SEX_UPON_INTAKE 
FROM ANIMAL_INS