<a href="https://colab.research.google.com/github/InKyuHwang001/Algorithm/blob/master/SELECT(2_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 동물의 아이디와 이름
- https://school.programmers.co.kr/learn/courses/30/lessons/59403

In [ ]:
SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
ORDER BY ANIMAL_ID ASC

# 여러 기준으로 정렬하기
- https://school.programmers.co.kr/learn/courses/30/lessons/59404

In [ ]:
SELECT ANIMAL_ID, NAME, DATETIME FROM ANIMAL_INS
ORDER BY NAME ASC, DATETIME DESC

# 상위 n개 레코드(LIMIT {number})
- https://school.programmers.co.kr/learn/courses/30/lessons/59405

In [ ]:
SELECT NAME FROM ANIMAL_INS 
ORDER BY DATETIME ASC
LIMIT 1