<a href="https://colab.research.google.com/github/InKyuHwang001/Algorithm/blob/master/SELECT(1_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모든 레코드 조회하기
- https://school.programmers.co.kr/learn/courses/30/lessons/59034

In [ ]:
SELECT * FROM ANIMAL_INS
ORDER BY ANIMAL_ID

# 역순 정렬하기(ORDER BY {COLUMID} {ASC/DESC})
- https://school.programmers.co.kr/learn/courses/30/lessons/59035

In [ ]:
SELECT NAME, DATETIME FROM ANIMAL_INS
ORDER BY ANIMAL_ID DESC

# 아픈 동물 찾기(WHERE A= a)
- https://school.programmers.co.kr/learn/courses/30/lessons/59036

In [ ]:
SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
WHERE INTAKE_CONDITION = 'Sick'

# 어린 동물 찾기(!=)
- https://school.programmers.co.kr/learn/courses/30/lessons/59037

In [ ]:
SELECT ANIMAL_ID, NAME FROM ANIMAL_INS 
WHERE INTAKE_CONDITION	!= 'Aged'