<a href="https://colab.research.google.com/github/InKyuHwang001/Algorithm/blob/master/9_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 평균 구하기
- https://school.programmers.co.kr/learn/courses/30/lessons/12944

In [ ]:
def solution(arr):
    return sum(arr)/len(arr)

# 자연수 뒤집어 배열로 만들기
- https://school.programmers.co.kr/learn/courses/30/lessons/12932

In [ ]:
def solution(n):
    answer = []
    for i in str(n):
        answer.append(int(i))
    answer.reverse()
    return answer

In [ ]:
def solution(n):
    return list(map(int, reversed(str(n))))

# 정수 내림차순으로 배치하기
- https://school.programmers.co.kr/learn/courses/30/lessons/12933

In [ ]:
def solution(n):
    answer = ''
    a = [i for i in str(n)]
    a.sort(reverse=True)
    for i in a:
        answer+=i
    return int(answer)

In [ ]:
def solution(n):
    ls = list(str(n))
    ls.sort(reverse = True)
    return int("".join(ls))

# 하샤드 수
- https://school.programmers.co.kr/learn/courses/30/lessons/12947

In [ ]:
def solution(x):
    tmp=sum(int(i) for i in str(x))
    if x%tmp==0:
        return True
    else:
        return False

In [ ]:
def solution(x):
    return n % sum([int(c) for c in str(n)]) == 0

# 문자열을 정수로 바꾸기
- https://school.programmers.co.kr/learn/courses/30/lessons/12925

In [ ]:
def solution(s):
    return int(s)

In [ ]:
def strToInt(str):
    result = 0

    for idx, number in enumerate(str[::-1]):
        if number == '-':
            result *= -1
        else:
            result += int(number) * (10 ** idx)

    return result

# x만큼 간격이 있는 n개의 숫자
- https://school.programmers.co.kr/learn/courses/30/lessons/12954

In [ ]:
def solution(x, n):
    return [x*(i+1) for i in range(n)]

# 콜라츠 추측
- https://school.programmers.co.kr/learn/courses/30/lessons/12943

In [ ]:
def solution(num):
    answer = 0
    
    if num == 1:
        return 0
    
    while True:
        num = num/2 if num % 2 == 0 else (num*3)+1
        answer += 1
        if num == 1:
            return answer 
        elif answer == 500:
            return -1
    
    return answer

In [ ]:
def solution(num):
    answer = 0
    
    for i in range(500):
        if num % 2 == 0:
            num = num/2
            answer += 1
        if num == 1:
            break
        if num % 2 != 0:
            num = (num*3)+1
            answer += 1
        if num == 1:
            break
        if answer > 500 and num != 1:
            answer = -1
            break
    
    return answer

# 핸드폰 번호 가리기
- https://school.programmers.co.kr/learn/courses/30/lessons/12948

In [ ]:
def solution(phone_number):
    return '*'*(len(phone_number)-4)+phone_number[-4:]

# 제일 작은 수 제거하기
- https://school.programmers.co.kr/learn/courses/30/lessons/12935

In [ ]:
def solution(arr):
    if len(arr) ==1:
        return [-1]
    else:
        arr.remove(sorted(arr)[0])
        return arr

# 수박수박수박수박수박수?
- https://school.programmers.co.kr/learn/courses/30/lessons/12922

In [ ]:
def solution(n):
    return ("수박"*(n//2+1))[:n]

In [ ]:
def solution(n):
    answer = ''
    
    for i in range(n):
        if i % 2 == 0:
            answer += '수'
        else:
            answer += '박'
    
    return answer

# 행렬의 덧셈
- https://school.programmers.co.kr/learn/courses/30/lessons/12950

In [ ]:
def solution(arr1, arr2):
    arr=arr1
    for i in range(len(arr1)):
        for j in range(len(arr1[0])):
            arr[i][j]= arr1[i][j]+arr2[i][j]
    return arr

In [ ]:
def solution(arr1, arr2):
    return [[c + d for c, d in zip(a, b)] for a, b in zip(arr1,arr2)]

# 직사각형 별찍기
- https://school.programmers.co.kr/learn/courses/30/lessons/12969

In [ ]:
a, b = map(int, input().strip().split(' '))
for _ in range(b):
    print('*'*a)

In [ ]:
a, b = map(int, input().strip().split(' '))
print(('*'*a+"\n")*b)