<a href="https://colab.research.google.com/github/InKyuHwang001/Algorithm/blob/master/SUM%2C_MAX%2C_MIN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 최댓값 구하기 MAX({AAA})
- https://school.programmers.co.kr/learn/courses/30/lessons/59415

In [ ]:
SELECT MAX(DATETIME) 
FROM ANIMAL_INS

# 최솟값 구하기 MIN({AAA})
- https://school.programmers.co.kr/learn/courses/30/lessons/59038

In [ ]:
SELECT MIN(DATETIME) 
FROM ANIMAL_INS

# 동물 수 구하기 COUNT(*)
- https://school.programmers.co.kr/learn/courses/30/lessons/59408

In [ ]:
SELECT COUNT(*)
FROM ANIMAL_INS

# 중복 제거하기(DISTINCT)
- https://school.programmers.co.kr/learn/courses/30/lessons/59408

In [ ]:
SELECT COUNT(DISTINCT NAME)
FROM ANIMAL_INS
WHERE NAME IS NOT NULL